<h1>Trippin' Dots</h1>
<em>Don't worry about scrolling, we'll do that for you.</em>

<div id='search-form'>

  <h2>Temporary Songs (songs expire daily)</h2>
  <% if !@temp_songs.empty? %>
    <% @temp_songs.each do |song| %>
      <p><%= song.key %></p><button class="analyze-button">Start Trippin'</button>
    <% end %>
  <% else %>
    <em>No songs available. Upload a new song!</em>
  <% end %>
  <br>
  <br>
  <label for="sensitivity-input">Sensitivity</label>
  <input id="sensitivity-input" name="sensitivity-slider" type="range" min="20" max="40" onchange="printValue('sensitivity-input', 'sensitivity-value')">
  <input id="sensitivity-value" type="number" name="sensitivity-number" min="20" max="40" size="5">
  <br>
  <br>
  <%= form_tag upload_path, :method => "post", :multipart => true, :id => 'upload-form' do %>
    <%= label_tag 'Upload a song for analysis (this could take a few seconds)' %>
    <%= file_field_tag "songfile", required: true %>
    <%= image_tag('loadingGif.gif', id: 'loading-gif') %>
    <br>
    <%= submit_tag "Upload" %>
  <% end %>
  <br>
</div>

<script>
  function printValue(sliderID, textbox) {
      var x = document.getElementById(textbox);
      var y = document.getElementById(sliderID);
      x.value = y.value;
  }

  window.onload = function() { printValue('sensitivity-input', 'sensitivity-value') }
</script>

<div id="trippin-display"></div>
